certifi
charset-normalizer
contourpy
cycler
filelock
fonttools
fsspec
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
packaging
Pillow
pyparsing
python-dateutil
requests
six
sympy
torch
torchvision
typing_extensions
urllib3
